@use "mixins";
@use "typography";
@use "variables";

.discussed-items {
    @include mixins.flex;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);

    @include mixins.breakpoint (max-xl){
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        text-align: center;
    }

    .discussed-content {
        @include mixins.flex;
        gap: 65px;

        @include mixins.breakpoint (max-xl){
           justify-content: center;
        }

        @include mixins.breakpoint (max-lg){
            flex-wrap: wrap;
            gap: 20px;
        }

        h2 {
            color: variables.$white;
            font-weight: 400;

            span {
                color: variables.$theme-color;
                font-family: italic;
            }
        }
    }
}

.footer-widgets-wrapper {
    padding: 90px 0 120px;
    position: relative;
    z-index: 9;

    @include mixins.breakpoint(max-xl){
        padding: 70px 0 100px;
    }

    @include mixins.breakpoint(max-lg){
        padding: 50px 0 80px;
        margin-bottom: -50px;
    }

    @include mixins.breakpoint(max-lg){
        margin-bottom: -30px;
    }

    @include mixins.breakpoint(max-sm){
        margin-bottom: -50px;
    }

    .single-footer-widget {
        margin-top: 30px;


        .widget-head {
            margin-bottom: 30px;

            @include mixins.breakpoint (max-sm){
                margin-bottom: 20px;
            }

            h4 {
                color: variables.$white;
            }
        }

        .footer-content {
            p {
                color: rgba(255, 255, 255, 0.55);
            }

            .social-icon {
                gap: 10px;
                margin-top: 30px;

                a {
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    display: inline-block;
                    background-color: #2B3852;                
                    color: variables.$white;
                    @include mixins.transition;

                    &:hover {
                        background-color: variables.$theme-color;
                        color: variables.$white;
                    }
                }
            }

            .footer-input {
                position: relative;
                margin-top: 20px;

                input {
                    background: variables.$white;
                    border: none;
                    outline: none;
                    padding: 18px 20px;
                    width: 100%;
                    border-radius: 5px;
                    color: variables.$text-color;

                    &::placeholder {
                        color: variables.$text-color;
                    }
                }

                .newsletter-btn {
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    width: 60px;
                    height: 55px;
                    line-height: 55px;
                    border-radius: 5px;
                    text-align: center;
                    background-color: variables.$theme-color;
                    color: variables.$white;

                    i {
                        transform: rotate(-40deg);
                    }
                }
            }

        }

        .contact-info-area {
            margin-top: 25px;

            .contact-items {
                display: flex;
                gap: 20px;

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                .icon {
                   color: variables.$theme-color;
                   font-size: 18px;
                }

                .content {

                    a {
                        color: rgba(255, 255, 255, 0.55);
                        font-size: 16px;
                        font-weight: 400;
                    }

                    p {
                        color: rgba(255, 255, 255, 0.55);
                    }
                }

                &.color-style-2 {
                    .icon {
                        color: variables.$theme-color-2;
                    }
                }
            }
        }

        .list-items {

            li {
                text-transform: capitalize;
                background-image: linear-gradient(variables.$theme-color,variables.$theme-color);
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 1px;
                display: table;
                @include mixins.transition;
                position: relative;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "\f061";
                    font-family: typography.$fa;
                    opacity: 0;
                    visibility: hidden;
                    @include mixins.transition;
                }

                &:not(:last-child){
                    margin-bottom: 15px;
                }

                a {
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.55);
                    position: relative;
                }

                &:hover {
                    background-size: 100% 1px;

                    &::before {
                        opacity: 1;
                        visibility: visible;
                        color: variables.$theme-color;
                    }

                    a {
                        padding-left: 25px;
                        color: variables.$theme-color;
                    }
                }
            }
        }

        .recent-post-area {
            .recent-post-items {
                @include mixins.flex;
                gap: 20px;
                margin-bottom: 25px;

                .thumb {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                   
                }

                .content {
                    flex-basis: 50%;
                    .post-date {
                        margin-bottom: 10px;

                        li {
                            color: variables.$theme-color;
                        }
                    }

                    h6 {
                        font-size: 16px;

                        a {
                            color: variables.$white;

                            &:hover {
                                color: variables.$theme-color;
                            }
                        }
                    }
                }
            }
       }
    }
}

.footer-bottom {
    position: relative;
    z-index: 9;

    @include mixins.breakpoint (max-sm){
        padding: 20px 0;
        text-align: center;
    }
    
    .footer-wrapper {
       padding-bottom: 80px;

       @include mixins.breakpoint (max-lg){
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center !important;
            margin-top: 30px;
       }

        p {
            color: #ffffffb3;

            a {
                color: #ffffffb3;
            }
        }
    
        .footer-menu {
            @include mixins.flex;
            gap: 20px;

            @include mixins.breakpoint (max-sm){
                flex-wrap: wrap;
                gap: 15px;
                justify-content: center;
            }

            li {
                a {
                    color: #ffffffb3;
                    background-image: linear-gradient(variables.$theme-color,variables.$theme-color);
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    display: inline-block;
                    @include mixins.transition;

                    &:hover {
                        background-size: 100% 1px;
                        color: variables.$theme-color;
                    }
                }
            }
        }

        .scroll-icon {
            width: 60px;
            height: 60px;
            line-height: 60px;
            background-color: variables.$theme-color;
            border-radius: 5px;
            text-align: center;
            color: variables.$white;
            display: inline-block;
            font-size: 24px;
            @include mixins.transition;

            &:hover {
                background-color: variables.$white;
                color: variables.$header-color;
            }
        }
    }

    &.style-2 {
        border-top: 1.2px solid rgba(255, 255, 255, 0.07);
        padding: 20px 0;
        position: relative;
        margin-top: 35px;

        .scroll-icon {
            background-color: variables.$theme-color-2;
            position: absolute;
            left: 50%;
            top: -35px;
            transform: translateX(-50%);
        }
    }
}

.footer-section {
    position: relative;
    z-index: 9;

    .color-shape {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .color-shape-2 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .robot-shape {
        position: absolute;
        bottom: 25%;
        left: 5%;

        @include mixins.breakpoint (max-xl4){
            display: none;
        }
    }

    .robot-shape-2 {
        position: absolute;
        top: 10%;
        right: 3%;

        @include mixins.breakpoint (max-xl4){
            display: none;
        }
    }
}