@use "mixins";
@use "variables";

.pricing-card-items {
    margin-top: 30px;
    background: rgba(92, 48, 253, 0.1);
    border: 1.2px solid rgba(16, 24, 40, 0.1);
    border-radius: 10px;
    @include mixins.transition;
    padding: 50px 45px;
    position: relative;
    z-index: 9;

    @include mixins.breakpoint (max-md){
        padding: 45px 40px;
    }

    @include mixins.breakpoint (max-sm){
        padding: 40px 30px;
    }

    .pricing-shape {
        position: absolute;
        top: 10%;
        right: 0;
        z-index: -1;
    }

    .pricing-header {
        h3 {
            margin-bottom: 5px;
        }
    }

    .pricing-list {
        margin-top: 20px;
        border-bottom: 1px solid rgba(16, 24, 40, 0.10);
        padding-bottom: 40px;

        @include mixins.breakpoint (max-md){
           margin-bottom: 30px;
        }

        @include mixins.breakpoint (max-sm){
            margin-bottom: 20px;
        }

        li {
            font-size: 18px;
            font-weight: 500;
            color: variables.$header-color;
            position: relative;
            padding-left: 15px;

            @include mixins.breakpoint (max-sm){
               font-size: 16px;
            }

            &:not(:last-child){
                margin-bottom: 15px;
            }

            &::before {
                position: absolute;
                top: 10px;
                left: 0;
                content: "";
                width: 5px;
                height: 5px;
                background-color: variables.$theme-color;
                border-radius: 5px;
            }

            &.style-2 {
                opacity: .2;
            }
        }
    }

    .pricing-bottom {
        margin-top: 40px;

        @include mixins.breakpoint (max-md){
           margin-top: 30px;
        }

        @include mixins.breakpoint (max-sm){
            margin-top: 20px;
        }

        h2 {
            span {
                font-size: 16px;
                font-weight: 400;
                color: variables.$text-color;
                margin-left: -7px;
            }
        }
    }

    .pricing-button {
        margin-top: 40px;

        @include mixins.breakpoint (max-md){
            margin-top: 30px;
         }
 
         @include mixins.breakpoint (max-sm){
             margin-top: 20px;
         }

        .theme-btn {
            &.style-transparent {
                background-color: transparent;
                border-radius: 14px;
                border: 1.5px solid rgba(43, 43, 107, 0.10);
                color: variables.$text-color;

                &::before,&::after {
                    background-color: variables.$theme-color;
                }

                &:hover {
                    color: variables.$white;
                }
            }
        }
    }

    &.active {
        background-color: variables.$header-color;

        .pricing-header {
            h3,p {
                color: variables.$white;
            }
        }
    
        .pricing-list {
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    
            li {
                color: variables.$white;
            }
        }
    
        .pricing-bottom {
            margin-top: 40px;
    
            p,h2 {
                color: variables.$white;

                span {
                    color: variables.$white;
                }
            }
        }
    
        .pricing-button {
            .theme-btn {
                background-color: variables.$theme-color;
                color: variables.$white;

                &::before,&::after {
                    background-color: variables.$white;
                }

                &:hover {
                  color: variables.$header-color;
                }
            }
        }
    }

    &.style-2 {
        background-color: #1A1D20;

        .pricing-header {
            h3,p {
               color: variables.$white;
            }
        }

        .pricing-list {
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);

            li {
                color: variables.$white;

                &::before {
                    background-color: variables.$white;
                }
    
                &.style-2 {
                    opacity: .2;
                }
            }
        }

        .pricing-bottom {
    
            h2,p {
                color: variables.$white;
            }
        }

        .pricing-button {
    
            .theme-btn {
                &.style-transparent {
                    border: 1.5px solid rgba(255, 255, 255, 0.10);
                }
            }
        }

        &.active {
            background-color: variables.$theme-color;

            .pricing-button {
    
                .theme-btn {
                    &.style-transparent {
                        border: 1.5px solid variables.$white;
                    }
                }
            }
        }
    }
}

.pricing-section-2 {
    background-color: #EFEBFF;
}

.pricing-card-items-2 {
    margin-top: 30px;
    background-color: variables.$white;
    box-shadow: (0px 10px 60px rgba(92, 48, 253, 0.10));
    padding: 40px 45px;
    border-radius: 10px;

    .pricing-header {
        h3 {
           margin-bottom: 10px;
        }
    }

    .pricing-button {
        margin-top: 30px;

        .theme-btn {
            width: 100%;
            background-color: variables.$header-color;

            &::before,&::after {
                background-color: variables.$theme-color;
            }
        }
    }

    .price-items {
        position: relative;
        margin-top: 40px;
        border-bottom: 1px solid variables.$border-color;
        padding-bottom: 30px;

        .arrow-img {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 10%;
        }

        h2 {
            color: variables.$theme-color;

            sub {
                color: variables.$theme-color;
                font-size: 24px;
            }

            span {
                font-size: 16px;
                color: variables.$header-color;
            }
        }

        .discount {
            position: absolute;
            top: 0;
            right: 0;
            width: 68px;
            height: 40px;
            text-align: center;
            line-height: 65px;
            z-index: 9;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 68px;
                height: 65px;
                content: "";
                transform: translate(-50%,-50%);
                background-image: url(../../assets/img/pricing-radius.png);
                z-index: -1;
            }

            h6 {
                color: variables.$white;
                font-size: 14px;
            }
        }
    }

    .price-list {
        margin-top: 20px;

        li {
            font-size: 18px;
            color: variables.$header-color;

            &:not(:last-child){
                margin-bottom: 15px;
            }

            i {
                color: variables.$theme-color;
                margin-right: 10px;
            }
        }
    }

    &.active {
        background-color: variables.$theme-color;

        .pricing-header {
            h3 {
                color: variables.$white;
            }

            p {
                color: variables.$white;
            }
        }
        
        .pricing-button {
            
            .theme-btn {
                background-color: transparent;
                border: 1px solid variables.$white;
    
                &::before,&::after {
                    background-color: variables.$white;
                }

                &:hover {
                    color: variables.$header-color;
                }
            }
        }
    
        .price-items {
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
            
    
            .arrow-img {
                filter: grayscale(100%) brightness(300%);
            }
    
            h2 {
                color: variables.$white;
    
                sub {
                    color: variables.$white;
                }
    
                span {
                    color: variables.$white;
                }
            }
        }
    
        .price-list {
    
            li {
                color: variables.$white;
    
                i {
                    color:variables.$white;
                }
            }
        }
    }
}