@use "mixins";
@use "variables";

.case-study-items {
    margin-top: 30px;

    .thumb {
        img {
            @include mixins.imgw;
            border-radius: 12px;
        }
    }

    .content {
        padding-top: 20px;
        overflow: hidden;

        p {
            color: variables.$white;
            margin-bottom: 5px;
        }

        h3 {
            font-size: 26px;
            margin-bottom: 20px;

            @include mixins.breakpoint (max-xxl){
                font-size: 22px;
            }

            @include mixins.breakpoint (max-xl){
                font-size: 24px;
            }

            @include mixins.breakpoint (max-md){
                font-size: 22px;
            }

            @include mixins.breakpoint (max-sm){
                font-size: 20px;
            }

            a {
                color: variables.$white;
                background-image: linear-gradient(variables.$white,variables.$white);
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;

                &:hover {
                    background-size: 100% 2px;
                }
            }
        }

        .arrow-btn {
            color: variables.$white;

            &::before {
                color: variables.$white;
            }

        }
    }
}

.case-study-section {
    position: relative;
    z-index: 9;

    .left-shape {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .right-shape {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

.project-wrapper {
    padding: 0 70px;

    @include mixins.breakpoint (max-xxl){
        padding: 0 30px;
    }

    .project-box-items {
        margin-top: 30px;

        .project-image {
            img {
                border-radius: 12px;
                @include mixins.imgw;
            }
        }

        .project-content {
            margin-top: 25px;

            p {
               font-weight: 500;
               margin-bottom: 10px;
               color: rgba(255, 255, 255, 0.45);
            }

            h3 {
                
                a {
                    color: variables.$white;
                    background-image: linear-gradient(variables.$theme-color-2,variables.$theme-color-2);
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;

                    &:hover {
                        color: variables.$theme-color-2;
                        background-size: 100% 2px;
                    }
                }
            }
        }
    }
}

.project-card-items {
    margin-top: 30px;
    
    .project-image {
        max-width: 410px;
        
        img {
            transition: filter .45s ease, transform .3s ease;

            &:hover {
                filter: brightness(115%) saturate(125%);
                transform: scale(1.01);
                box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.1);
                cursor: pointer;
            }

            @include mixins.imgw;
            border-radius: 10px;
        }
    }
    
    .project-content {
        margin-top: 20px;

        p {
            color: variables.$theme-color;
            font-weight: 500;
            margin-bottom: 5px;
        }

        h3 {
            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                color: variables.$white;
                text-decoration: none;

                &:hover {
                    background-size: 100% 2px;
                    background-image: linear-gradient(variables.$theme-color,variables.$theme-color);
                    color: variables.$theme-color;
                }
            }
        }
    }

    &.style-2 {
        .project-content {
            p {
                color: rgba(255, 255, 255, 0.55);
            }
    
            h3 {
                a {
                    color: variables.$white;

                    &:hover {
                        color: variables.$theme-color;
                    }
                }
            }
        }
    }
}

.project-details-wrapper {
    margin-bottom: -8px;
    color: variables.$white;

    .project-details-image {
        img {
            @include mixins.imgw;
            border-radius: 12px;
        }
    }

    .project-details-content {
        margin-top: 20px;

        h5 {
            color: variables.$theme-color;
            margin-bottom: 10px;
        }

        p {
            @include mixins.breakpoint (lg){
                margin-right: 30px;
            }

            &:not(:last-child){
                margin-bottom: 36px;
            }
        }

        ul,
        ol {
            margin-top: 20px;
            margin-bottom: 36px;

            li {
                margin: 0;
            }

            li + li {
                margin-top: 10px;
            }
        }

        ul {
            list-style-type: disc;
        }
    }

    .project-information {
        padding: 40px 50px;
        background-color: variables.$bg-color;
        border-radius: 10px;
        border: 1.2px solid rgba(255, 255, 255, 0.1);
        margin-top: 20px;

        @include mixins.breakpoint (max-xl){
            padding: 40px;
        }

        @include mixins.breakpoint (max-sm){
            padding: 30px;
        }

        h4 {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);    
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: disc;
            margin-bottom: 20px;
        }
    }

    .project-details-img {
        margin-bottom: 30px;

        .thumb {
            img {
                @include mixins.imgw;
                border-radius: 10px;
            }
        }
    }

    .p-list {
        li {
            &:not(:last-child){
                margin-bottom: 10px;
            }

            i {
                color: variables.$theme-color;
                margin-right: 10px;
            }
        }
    }
}