@use "mixins";
@use "variables";

.testimonial-wrapper {
    .testimonial-image {
        img {
            @include mixins.imgw;
        }
    }

    .testimonial-content {
        p {
            font-size: 27px;
            line-height: 140%;
            color: variables.$header-color;

            @include mixins.breakpoint (max-lg){
                font-size: 25px;
            }

            @include mixins.breakpoint (max-md){
                font-size: 23px;
            }

            @include mixins.breakpoint (max-sm){
                font-size: 20px;
            }
        }

        .author-items {
            @include mixins.flex;
            margin-top: 30px;
            justify-content: space-between;
            border-top: 1px solid variables.$border-color;
            padding-top: 40px;

            @include mixins.breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 25px;
            }

            @include mixins.breakpoint (max-md){
               padding-top: 30px;
            }

            @include mixins.breakpoint (max-sm){
                margin-top: 20px;
                padding-top: 20px;
            }

            .author-image {
                @include mixins.flex;
                gap: 15px;

                img {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                }

                .content {
                    h5 {
                        font-size: 22px;

                        span {
                            font-weight: 600;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

.testimonial-section-2 {
    background-color: #F9FAFB;
    position: relative;

    .bg-shape {
        position: absolute;
        top: 0;
        left: 0;

        img {
            @include mixins.imgw;
        }
    }

    .testimonial-slider-2 {
        margin-bottom: -50px;
    }
}

.testimonial-card-items {
    margin-top: 30px;
    @include mixins.flex;
    gap: 65px;
    background-color: variables.$white;
    box-shadow: 0px 10px 60px rgba(92, 48, 253, 0.2);
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 16px;

    @include mixins.breakpoint (max-xxxl){
       gap: 30px;
    }

    @include mixins.breakpoint (max-md){
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        text-align: center;
        padding: 40px 25px;
    }

    .testimonial-image {
        border-radius: 10px;
        background-color: #EFEBFF;
        position: relative;
        z-index: 1;
        padding: 0px 10px;
        border-radius: 16px;

        img {
            @include mixins.imgw;
        }
    }

    .testimonial-content {
        flex-basis: 60%;

        @include mixins.breakpoint (max-md){
            flex-basis: 100%;
        }

        .author-image {
            @include mixins.flex;
            gap: 15px;
            margin-bottom: 20px;

            @include mixins.breakpoint (max-md){
                justify-content: center;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .content {
                h5 {
                    font-size: 22px;

                    span {
                        font-weight: 600;
                        font-size: 16px;
                        color: variables.$text-color;
                    }
                }

            }
        }

        p {
            font-size: 24px;
            letter-spacing: -0.72px;
            color: variables.$header-color;
            line-height: 150%;

            @include mixins.breakpoint (max-xxxl){
                font-size: 18px;
            }

            @include mixins.breakpoint (max-lg){
                font-size: 20px;
            }

            @include mixins.breakpoint (max-md){
                font-size: 18px;
            }
        }

        .star {
            color: variables.$theme-color;
            margin-top: 20px;
        }
    }

    &.style-2 {
        background-color: #1A1D20;
        box-shadow: none;

        .testimonial-content {
            .author-image {
                .content {
                    h5 {
                       color: variables.$white;
                        span {
                           color: #696969;
                        }
                    }
    
                }
            }
    
            p {
               color: variables.$white;
            }
    
            .star {
                color: variables.$theme-color-2;
            }
        }
    }
}

.testimonial-section-5 {
    .swiper-slide.swiper-slide-active{
        .testimonial-card-items {
            &.style-2 {
                background-color: variables.$white;
                box-shadow: none;
        
                .testimonial-content {
                    .author-image {
                        .content {
                            h5 {
                               color: variables.$header-color;

                                span {
                                   color: #696969;
                                }
                            }
            
                        }
                    }
            
                    p {
                       color: variables.$header-color;
                    }
            
                    .star {
                        color: variables.$theme-color-2;
                    }
                }
            }
        }
    }
}

.testimonial-section-3 {
    background-color: variables.$theme-color
}

.testimonial-wrapper-2 {
    .testimonial-content {
        @include mixins.breakpoint (max-lg){
           text-align: center;
           margin: 0 auto;
        }

        .author-image {
            @include mixins.flex;
            gap: 15px;
            background-color: variables.$white;
            max-width: 500px;
            padding: 15px 30px;
            border-radius: 10px;
            margin-bottom: 30px;

            @include mixins.breakpoint (max-lg){
                text-align: center;
                justify-content: center;
            }

            @include mixins.breakpoint (max-sm){
                margin-bottom: 20px;
                padding: 14px 20px;
            }

            img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
            }

            .content {
                h5 {
                    font-size: 22px;

                    @include mixins.breakpoint (max-md){
                        font-size: 19px;
                    }

                    @include mixins.breakpoint (max-xs){
                        font-size: 16px;
                    }

                    span {
                        font-weight: 500;
                        font-size: 16px;

                        @include mixins.breakpoint (max-xs){
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        p {
            font-size: 26px;
            color: variables.$white;
            line-height: 140%;

            @include mixins.breakpoint (max-xl){
                font-size: 23px;
            }

            @include mixins.breakpoint (max-lg){
                font-size: 20px;
            }

            @include mixins.breakpoint (max-md){
                font-size: 18px;
            }

            @include mixins.breakpoint (max-sm){
                font-size: 16px;
            }
        }

        .star {
            font-size: 14px;
            color: variables.$white;
            margin-top: 20px;
        }
    }

    .testimonial-image {
        max-width: 440px;
        position: relative;

        @include mixins.breakpoint (max-lg){
            text-align: center;
            margin: 0 auto;
        }

        img {
            @include mixins.imgw;
        }

        .card-shape-1 {
            position: absolute;
            left: -35%;
            bottom: 0;

            @include mixins.breakpoint (max-xl){
                left: -30%;
            }

            @include mixins.breakpoint (max-lg){
                left: -35%;
            }

            @include mixins.breakpoint (max-lg){
                left: -35%;
                bottom: 0;
            }

            @include mixins.breakpoint (max-md){
                width: 300px;
                left: -10%;
            }

            @include mixins.breakpoint (max-sm){
                left: -8%;
                width: 260px;
            }
        }

        .card-shape-2 {
            position: absolute;
            right: -35%;
            top: 0;

            @include mixins.breakpoint (max-xxl){
                right: -25%;
                top: 0;
            }

            @include mixins.breakpoint (max-xl){
                right: -20%;
                top: 0;
            }

            @include mixins.breakpoint (max-lg){
                right: -35%;
                top: 0;
            }

            @include mixins.breakpoint (max-md){
                width: 300px;
                right: -10%;
            }
        }
    }
}

.testimonial-section-4 {
    background-color: variables.$theme-color;
}

.testimonial-box-items {
    margin-top: 30px;
    background-color: variables.$white;
    border-radius: 10px;
    padding: 40px;

    @include mixins.breakpoint (max-sm){
        text-align: center;
    }

    .testimonial-content {

        .author-image {
            @include mixins.flex;
            gap: 15px;
            margin-bottom: 20px;

            @include mixins.breakpoint (max-md){
                justify-content: center;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .content {
                h5 {
                    font-size: 18px;
                    text-align: left;

                    span {
                        font-weight: 400;
                        font-size: 16px;
                        color: variables.$text-color;
                    }
                }

            }
        }

        .star {
            color: variables.$theme-color;
            margin-top: 20px;
        }
    }
}

.testimonial-section-6 {
    background-color: variables.$header-color;
}

.testimonial-wrapper-3 {
    .testimonial-top-items {
        @include mixins.flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        padding-bottom: 70px;
        margin-bottom: 70px;

        @include mixins.breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center
        }

        .testimonial-right {
            @include mixins.flex;
            gap: 40px;

            @include mixins.breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 25px;
                justify-content: center
            }

            .author-items {
                @include mixins.flex;
                gap: 20px;
            }
        }
    }

    .testimonial-items {
        .testimonial-thumb-item {
            @include mixins.flex;
            justify-content: center;
            gap: 30px;
            max-width: 470px;
            margin: 0 auto;

            .testi-thumb {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }

        .testi-content {
            margin-top: 50px;

            .content {
                text-align: center;
                max-width: 900px;
                margin: 0 auto;

                h3 {
                    font-size: 27px;
                    color: variables.$white;
                    margin-bottom: 20px;

                    @include mixins.breakpoint (max-lg){
                        font-size: 26px;
                    }

                    @include mixins.breakpoint (max-md){
                        font-size: 24px;
                    }

                    @include mixins.breakpoint (max-sm){
                        font-size: 22px;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 500;
                       color: rgba(255, 255, 255, 0.55);
                    }
                }

                h4 {
                    font-size: 24px;
                    color: variables.$white;
                    font-weight: 400;
                    line-height: 1.6;

                    @include mixins.breakpoint (max-xl){
                        font-size: 22px;
                    }

                    @include mixins.breakpoint (max-lg){
                        font-size: 20px;
                    }

                    @include mixins.breakpoint (max-md){
                        font-size: 18px;
                    }

                    @include mixins.breakpoint (max-sm){
                        font-size: 16px;
                    }
                }
            }
        }
    }
}